include README.md ARCHITECTURE.md AGENTS.md LICENSE
include data/com.github.mdtoepub.desktop
recursive-include mdtoepub/themes *.css *.yaml
recursive-include mdtoepub/data *.md *.yaml *.png *.jpg *.jpeg
include mdtoepub/lang-specs/*.lang
recursive-include data/icons *.svg *.png
